<html>
    <head>
      <title>PyTorch Iris Classification</title>
    </head>
    <body>
      <h1>PyTorch Iris Classification</h1>
      <!-- 5.7,2.8,4.1,1.3 -->
      <form method="POST" enctype="multipart/form-data" action="/predict">
        <p>Sepal lenght: <input type="text" name="sepal_l" value="5.7"></p>
        <p>Sepal width: <input type="text" name="sepal_w" value="2.8"></p>
        <p>Petal lenght: <input type="text" name="petal_l" value="4.1"></p>
        <p>Petal width: <input type="text" name="petal_w" value="1.3"></p>
        <input type="submit" value="Predict">
      </form>
    </body>
  </html>